<!DOCTYPE html>
<html>
<head>
<title>GloKnow</title>
<link href="./css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<div>
<img src="logo.png" alt="GloKnow">
</div>

<hr>

<div>
    <form action="action.jsp" method="POST">
	<input type="text" name="username" placeholder="NAME"><br>
	<input type="text" name="lastname" placeholder="PASSWORD"><br>
	<input type="submit" value="login">
	</form>
	<a href="/forgot.html">forgot your password?</a>
</div>

<div>
<a class="button" href="/registration.html">Register</a>
</div>

<hr>

</body>
</html>