<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GloKnow</title>
<link href="../../static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body background="./boardbg.jpg"><div id="wrapper">
<div class="content">
<header>
<a href="index.html"><img src="../../static/images/globe_pic_logo2.png" id="gn_logo"></a>
<div class="top_text">GoNow<br />Basic User</div>

    <a href="" class="logout">Log Out</a>
</header>

<nav class="topBar"> 
  <a href="index.html" class="topbarItem">Activites</a>
  <a href="profile.html" class="topbarItem">Profile</a>
  <a href="/js/" class="topbarItem">Settings</a>
  <a href="/jquery/" class="topbarItem">???</a>
  <a href="/jquery/" class="topbarItem">???</a>
</nav>

<div class="activities">
   
   <div class="activity">


       <form method="POST" th:action="@{/activities/create}">
        <div class="event">
Add name:<input form="textarea" width="70" maxlength="20"></input>
		</div>
        <div class="event">
<span style="float: left;">Add description: </span>
<textarea cols="40" rows="5" name="myname"></textarea></input>
		</div>
		<div class="event">
			Add picture:
		<form action="upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form></event>

<button type="post">Create event</button>
       </form>
	
</div>
</div>
</div>
</body>
</html>
