<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GloKnow</title>
<link href="../../static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body background="./boardbg.jpg"><div id="wrapper">
<div class="content">
<header>
<a href="index.html"><img alt="" src="../../static/images/globe_pic_logo2.png" id="gn_logo" /></a>
<div class="top_text">GoNow<br />Basic User</div>

    <a href="" class="logout">Log Out</a>
</header>

<nav class="topBar"> 
  <a href="index.html" class="topbarItem">Activites</a>
  <a href="profile.html" class="topbarItem">Profile</a>
  <a href="/js/" class="topbarItem">Settings</a>
  <a href="/jquery/" class="topbarItem">???</a>
  <a href="/jquery/" class="topbarItem">???</a>
</nav>

<div class="activities">
   
   <div class="activity">

    <div class="event">
       <form method="POST" th:action="@{/activities/create}">
        Add name:<input type="text" name="name"></input><br/>
        <span style="float: left;">Add description: </span><br/>
        <input type="text" name="description"></input><br/>
        <span style="float: left;">Add time: </span><br/>
        <input type="text" name="time"></input><br/>
        <span style="float: left;">Add location: </span><br/>
        <input type="text" name="location"></input><br/>
        <input type="submit" value="Create event!" />
       </form>
    </div>
       
       	<div class="event">
	    Add picture:
	    <form action="upload.php" method="post" enctype="multipart/form-data">
                Select image to upload:
                <input type="file" name="fileToUpload" id="fileToUpload" />
                <input type="submit" value="Upload Image" name="submit" />
            </form>
        </div>
	
</div>
</div>
</div>
</div>
</body>
</html>
