<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GloKnow</title>
<link href="../../static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body background="../../static/images/123.jpg"><div id="wrapper">
<div class="content">
<header>
<a href="index.html"><img alt="" src="../../static/images/globe_pic_logo2.png" id="gn_logo" /></a>
<div class="top_text">GoNow<br />Basic User</div>

    <a href="" class="logout">Log Out</a>
</header>

<nav class="topBar"> 
  <a href="index.html" class="topbarItem">Activites</a>
  <a href="profile.html" class="topbarItem">Profile</a>
  <a href="settings.html" class="topbarItem">Settings</a>
  <a href="/jquery/" class="topbarItem">???</a>
  <a href="/jquery/" class="topbarItem">???</a>
</nav>

<div class="activities">
   
   <div class="activity">

    <div class="event">
<div style="margin-left: 15px; margin-top: 15px;">
    <form action="action_page.php">
        First Name:<br /><p th:text="${profile.firstname}">Placeholder</p><br />
        Surname:<br /><p th:text="${profile.surname}">Placeholder</p><br />
        Phone Number:<br /><p th:text="${profile.phone}">Placeholder</p><br />
        Email Adress: <br /><p th:text="${profile.email}">Placeholder</p><br />
        Birthday:<br /><p th:text="${profile.birthday}">Placeholder</p><br />

    </form>
</div>
  
	
</div>
</div>
</div>
</div>
</div>
</body>
</html>
