<!DOCTYPE html>
<html>
<head>
<title>GloKnow</title>
<link href="./css/styles.css" rel="stylesheet" type="text/css">
</head>

<body background="./boardbg.jpg"><div id="wrapper">
<div class="content">
<header>
<a href="index.html"><img src="./globe_pic_logo2.png" id="gn_logo"></a>
<div class="top_text">GoNow<br />Basic User</div>

    <a href="" class="logout">Log Out</a>
</header>


<nav class="topBar"> 
  <a href="index.html" class="topbarItem">Activities</a>
  <a href="profileold.html" class="topbarItem">Profile</a>
  <a href="/js/" class="topbarItem">Settings</a>
  <a href="/jquery/" class="topbarItem">???</a>
  <a href="/jquery/" class="topbarItem">???</a>
</nav>





<br><br>


<div class="activities">
   
   <div class="activity">


   <div class="activity">

        <table border="1" style="width:100%">
            <tr>
                <td>Activity A</td>
                <td>???</td>		
                <td>???</td>
            </tr>
        </table>
        <button type="button" onclick="function()">Add picture</button>
        </div>
        
		
		<div class="activity">
        <button type="button">Add me!</button>
        <table border="1" style="width:100%">
            <tr>
                <td>Activity B</td>
                <td>???</td>		
                <td>???</td>
            </tr>
        </table>
        Description
    </div>

	
</div>
</div>
</div>
</div>
</body>
</html>
