<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>GloKnow</title>
<link href="../../static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body background="../../static/images/123.jpg"><div id="wrapper">
<div class="content">

<header class="header" th:replace="fragments/topmenu :: header">
</header>

<!--/*-->

<header class="header" th:fragment="header">
  <div class="logo"><a href="index.html" class="alink"><img class="img-circle" src="../../static/images/wms3.png"/></a></div><div class="logo-name"><a href="index.html" class="alink">Users Name</a></div>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#work" name="mainPage">Main Page</a></li>
    <li><a href="#about" name="profile" th:href="@{/profiles/jackr}">Profile</a></li>
    <li><a href="#careers" name="settings" th:href="@{/settings/}">Settings</a></li>
  </ul>
</header>

<!--*/-->


<div class="rcontent">


<div class="rcolumn"><img width="180" height="180" src="../../static/images/ppic.png"><br>
	Users Name</div>
	
	<div class="rcolumn">
  <form action="action_page.php">
        First Name:<p th:text="${profile.firstname}">Placeholder</p><br />
        Surname:<p th:text="${profile.surname}">Placeholder</p><br />
        Phone:<p th:text="${profile.phone}">Placeholder</p><br />
        Email: <p th:text="${profile.email}">Placeholder</p><br />
        Birthday:<p th:text="${profile.birthday}">Placeholder</p><br />
		-- SOCIAL MEDIA ICONS (ETC) --

</div>

</div>
  
	
</div>
</div>



</body>
</html>
